main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

main h2 {
  font-size: 36px;
  margin-bottom: 10px;
}

main p {
  font-size: 20px;
  margin: 0;
  text-align: center;
}

main form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

main label {
  font-size: 20px;
  margin-bottom: 10px;
}

main input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 100%;
  max-width: 300px;
}

main button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  width: 100%;
  max-width: 300px;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  main {
    margin: 40px;
  }

  main form {
    max-width: 400px;
  }
}
